<a href="https://colab.research.google.com/github/peanutpirate/Day-1-Pandas-ile-Temel-Grafik-izimi.ipynb/blob/main/Day_2_Filtreleme_ve_Veri_Se%C3%A7me_ve_Temizleme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Filtreleme ve Veri SeÃ§me
## AmaÃ§
# Veri setindeki dedektiflik kÄ±smÄ±na geldik.
# Veri setindeki binlerce satÄ±r arasÄ±ndan sadece ihtiyacÄ±mÄ±z olanlarÄ±:
# -(Ã¶rneÄŸin: "SatÄ±ÅŸlarÄ± 100'den fazla olanlar" veya "Bade ismindeki kullanÄ±cÄ±lar") Ã§ekip Ã§Ä±karmak,
# --bir veri bilimcinin gÃ¼nÃ¼nÃ¼n %60'Ä±nÄ± oluÅŸturur.
# bu notebookta ÅŸunu Ã¶ÄŸrenmeyi / analiz etmeyi amaÃ§lÄ±yorum:
# Veri filtreleme ve analiz etmedeki Ã¼Ã§ temel yÃ¶ntemle baÅŸlayalÄ±m:
# 1. SÃ¼tun SeÃ§me (Tek veya Ã‡oklu):Sadece belirli sÃ¼tunlara odaklanmak istediÄŸinde kullanÄ±lÄ±r.
# 2. KoÅŸullu Filtreleme (En Ã–nemlisi!): "Sadece ÅŸu ÅŸartÄ± saÄŸlayanlarÄ± getir" dediÄŸimiz kÄ±sÄ±mdÄ±r.
# 3. .loc ve .iloc (Adrese Teslim SeÃ§im): .loc: SatÄ±r ve sÃ¼tun isimlerine gÃ¶re seÃ§im yapar./ .iloc: SatÄ±r ve sÃ¼tun index numaralarÄ±na (0, 1, 2...) gÃ¶re seÃ§im yapar.

## Veri TanÄ±mÄ±: Filtreleme ve Veri seÃ§imi ile alakalÄ± Ã¶ÄŸrenme kaynaÄŸÄ±
# Bu Ã§alÄ±ÅŸmada kullanÄ±lan veri:
# - Kaynak: Gemini

##1. SÃ¼tun SeÃ§me (Tek veya Ã‡oklu):Sadece belirli sÃ¼tunlara odaklanmak istediÄŸinde kullanÄ±lÄ±r.
import pandas as pd

# Ã–rnek DataFrame
data = {
    'Isim': ['Bade', 'Ahmet', 'Zeynep', 'Can'],
    'Yas': [4, 25, 30, 22],
    'Sehir': ['Ä°stanbul', 'Ankara', 'Ä°zmir', 'Antalya'],
    'Puan': [95, 80, 85, 70]
}
df = pd.DataFrame(data)
df

     Isim  Yas     Sehir  Puan
0    Bade    4  Ä°stanbul    95
1   Ahmet   25    Ankara    80
2  Zeynep   30     Ä°zmir    85
3     Can   22   Antalya    70

In [ ]:
# Tek bir sÃ¼tun seÃ§mek
isimler = df['Isim']

In [ ]:
# Birden fazla sÃ¼tun seÃ§mek (Ã‡ift kÃ¶ÅŸeli parantez kullanÄ±yoruz!)
ozet = df[['Isim', 'Puan']]

In [ ]:
## 3. .loc ve .iloc (Adrese Teslim SeÃ§im)
# -.loc: SatÄ±r ve sÃ¼tun isimlerine gÃ¶re seÃ§im yapar.
# -.iloc: SatÄ±r ve sÃ¼tun index numaralarÄ±na (0, 1, 2...) gÃ¶re seÃ§im yapar.

# loc ile: 0. satÄ±rdan 2. satÄ±ra kadar olanlarÄ±n 'Isim' sÃ¼tununu getir
print(df.loc[0:2, 'Isim'])

0      Bade
1     Ahmet
2    Zeynep
Name: Isim, dtype: object

In [ ]:
# iloc ile: Ä°lk 2 satÄ±rÄ± ve ilk 2 sÃ¼tunu getir
print(df.iloc[0:2, 0:2])

    Isim  Yas
0   Bade    4
1  Ahmet   25

In [ ]:
# AlÄ±ÅŸtÄ±rma: Diyelim ki elinde 1000 satÄ±rlÄ±k bir veri var. Sadece "PuanÄ± 90'dan yÃ¼ksek olan" ve "Ä°stanbul yaÅŸayan" kiÅŸileri tek bir satÄ±rda nasÄ±l filtreleriz?
# Cevap: KoÅŸullu Filtreyi uyguluyoruz.

## - ozel_liste = df[(df['Puan'] > 90) & (df['Sehir'] == 'Ä°stanbul')]
## - print(ozel_liste)

# Buradaki Sihirli Kurallar ðŸ§™âœ¨
# 1.Parantezler Åžart: Birden fazla koÅŸul yazarken her bir koÅŸulu kendi parantezine ( ) almalÄ±sÄ±n.
# --Python aksi halde hangisini Ã¶nce yapacaÄŸÄ±nÄ± ÅŸaÅŸÄ±rabilir.
# 2. & (VE) OperatÃ¶rÃ¼: Her iki ÅŸartÄ±n da aynÄ± anda saÄŸlanmasÄ±nÄ± istediÄŸimiz iÃ§in & kullandÄ±k.
# --(EÄŸer "Ya puanÄ± 90 olsun VEYA Ä°stanbul'da olsun, fark etmez" deseydin | iÅŸaretini kullanÄ±rdÄ±k).
# 3. TÄ±rnak Ä°ÅŸaretleri: Sehir sÃ¼tunundaki veriler metin (string) olduÄŸu iÃ§in 'Ä°stanbul' ÅŸeklinde tÄ±rnak iÃ§inde yazdÄ±k, ama 90 bir sayÄ± olduÄŸu iÃ§in tÄ±rnak koymadÄ±k.

In [ ]:
# Peki ya "DeÄŸildir" Demek Ä°stersek?
# Diyelim ki Ä°stanbul dÄ±ÅŸÄ±ndaki herkesi gÃ¶rmek istiyorsun. BaÅŸÄ±na bir "yakÄ±nma" iÅŸareti olan tilda ~ koyman yeterli:

# Ä°stanbul'da YAÅžAMAYANLARI getir
# - istanbul_disi = df[~(df['Sehir'] == 'Ä°stanbul')]

In [ ]:
# Bir AdÄ±m Ã–tesi: .isin() Metodu
# EÄŸer listen Ã§ok uzunsa (Ã¶rneÄŸin Ä°stanbul, Ankara ve Ä°zmir'deki herkesi istiyorsan), tek tek == yazmak yerine ÅŸunu yapabilirsin:

# sehirler = ['Ä°stanbul', 'Ankara', 'Ä°zmir']
# buyuk_sehirler = df[df['Sehir'].isin(sehirler)]

In [ ]:
## "SÃ¼tun Ekleme ve Mevcut Veriyi DeÄŸiÅŸtirme"
# 1. Yeni Bir SÃ¼tun Ekleme
# Elimizdeki puanlara gÃ¶re "Durum" sÃ¼tunu ekleyelim. Mesela herkesin geÃ§tiÄŸini varsayalÄ±m:
# Herkese aynÄ± deÄŸeri atayan yeni bir sÃ¼tun
df['Durum'] = 'GeÃ§ti'
df

  Ad_Soyad  Guncel_Yas     Sehir  Puan  Yeni_Puan Degerlendirme  Durum
0     Bade           4  Ä°stanbul   100        105        Pekiyi  GeÃ§ti
1    Ahmet          25    Ankara    80         90     GeliÅŸmeli  GeÃ§ti
2   Zeynep          30     Ä°zmir    85         95        Pekiyi  GeÃ§ti
3      Can          22   Antalya    70         80     GeliÅŸmeli  GeÃ§ti

In [ ]:
# Mevcut veriyi kullanarak hesaplama yapmak (Ã–rn: PuanlarÄ± 10 artÄ±rmak)
df['Yeni_Puan'] = df['Puan'] + 10
df

  Ad_Soyad  Guncel_Yas     Sehir  Puan  Yeni_Puan Degerlendirme  Durum
0     Bade           4  Ä°stanbul   100        110        Pekiyi  GeÃ§ti
1    Ahmet          25    Ankara    80         90     GeliÅŸmeli  GeÃ§ti
2   Zeynep          30     Ä°zmir    85         95        Pekiyi  GeÃ§ti
3      Can          22   Antalya    70         80     GeliÅŸmeli  GeÃ§ti

In [ ]:
# 2. KoÅŸula GÃ¶re DeÄŸer Atama (np.where)
# Bazen "EÄŸer puan 80'den bÃ¼yÃ¼kse BaÅŸarÄ±lÄ±, deÄŸilse BaÅŸarÄ±sÄ±z yaz" demek isteriz.
# Bunun iÃ§in numpy kÃ¼tÃ¼phanesinden yardÄ±m almak Ã§ok pratiktir:
import numpy as np

# EÄŸer Puan >= 85 ise 'Pekiyi', deÄŸilse 'GeliÅŸmeli' yaz
df['Degerlendirme'] = np.where(df['Puan'] >= 85, 'Pekiyi', 'GeliÅŸmeli')
df

  Ad_Soyad  Guncel_Yas     Sehir  Puan  Yeni_Puan Degerlendirme
0     Bade           4  Ä°stanbul   100        105        Pekiyi
1    Ahmet          25    Ankara    80         90     GeliÅŸmeli
2   Zeynep          30     Ä°zmir    85         95        Pekiyi
3      Can          22   Antalya    70         80     GeliÅŸmeli

In [ ]:
# 3. Mevcut Veriyi GÃ¼ncelleme (DeÄŸiÅŸtirme)
# Bir sÃ¼tundaki verileri tamamen deÄŸiÅŸtirmek veya sadece belirli bir hÃ¼creyi gÃ¼ncellemek istersen:
# -TÃ¼m SÃ¼tunu GÃ¼ncellemek: df['Puan'] = df['Puan'] / 10 (TÃ¼m puanlarÄ± 10'a bÃ¶ler).
# -Belirli Bir HÃ¼creyi GÃ¼ncellemek (.at veya .loc):
# 0. indeksteki (Bade'nin) puanÄ±nÄ± 100 yapalÄ±m
df.at[0, 'Puan'] = 100
df

  Ad_Soyad  Guncel_Yas     Sehir  Puan  Yeni_Puan Degerlendirme
0     Bade           4  Ä°stanbul   100        105        Pekiyi
1    Ahmet          25    Ankara    80         90     GeliÅŸmeli
2   Zeynep          30     Ä°zmir    85         95        Pekiyi
3      Can          22   Antalya    70         80     GeliÅŸmeli

In [ ]:
# 4. SÃ¼tun Ä°smini DeÄŸiÅŸtirme
# Bazen sÃ¼tun isimleri karmaÅŸÄ±k gelebilir, onlarÄ± daha okunaklÄ± yapabilirsin:
# 'Isim' sÃ¼tununu 'Ad_Soyad' olarak deÄŸiÅŸtirelim
df = df.rename(columns={'Isim': 'Ad_Soyad', 'Yas': 'Guncel_Yas'})
df

  Ad_Soyad  Guncel_Yas     Sehir  Puan  Yeni_Puan Degerlendirme
0     Bade           4  Ä°stanbul    95        105        Pekiyi
1    Ahmet          25    Ankara    80         90     GeliÅŸmeli
2   Zeynep          30     Ä°zmir    85         95        Pekiyi
3      Can          22   Antalya    70         80     GeliÅŸmeli

In [ ]:
# KÃ¼Ã§Ã¼k Bir Ä°pucu: SÃ¼tun Silme
# EÄŸer bir sÃ¼tunla iÅŸin bittiyse ve kalabalÄ±k yapmasÄ±n istiyorsan drop kullanabilirsin:

# 'Durum' sÃ¼tununu silelim (axis=1 sÃ¼tun olduÄŸunu belirtir)
df = df.drop('Durum', axis=1)
df

  Ad_Soyad  Guncel_Yas     Sehir  Puan  Yeni_Puan Degerlendirme
0     Bade           4  Ä°stanbul   100        110        Pekiyi
1    Ahmet          25    Ankara    80         90     GeliÅŸmeli
2   Zeynep          30     Ä°zmir    85         95        Pekiyi
3      Can          22   Antalya    70         80     GeliÅŸmeli

In [ ]:
# Ã–rn soru: Diyelim ki bir veri setinde Bade'nin yaÅŸÄ±nÄ± yanlÄ±ÅŸlÄ±kla 4 yerine 5 girdin. Onu dÃ¼zeltmek iÃ§in yukarÄ±daki yÃ¶ntemlerden hangisini kullanmak daha pratik olurdu?
# 0. indeksteki (Bade'nin) yaÅŸÄ±nÄ± 4 yapalÄ±m
df.at[0, 'Guncel_Yas'] = 4

NameError: name 'df' is not defined

In [ ]:
## Eksik Verilerle (Missing Data) BaÅŸa Ã‡Ä±kma
# AmaÃ§: Veri setinde NaN (boÅŸ deÄŸer) gÃ¶rdÃ¼ÄŸÃ¼nde ne yapacaÄŸÄ±nÄ± Ã¶ÄŸrenmek ister misin? ðŸ§
# Pandas'ta bu boÅŸ yerlere NaN (Not a Number) diyoruz.

##1. Eksik Veriyi Tespit Etme
# Ã–nce verimizde nerede boÅŸluk var, onu bir gÃ¶relim:

# Veri setinde hangi hÃ¼creler boÅŸ? (True/False dÃ¶ner)
print(df.isnull())

# SÃ¼tun sÃ¼tun kaÃ§ tane boÅŸ veri var? (En Ã§ok kullanÄ±lan budur!)
print(df.isnull().sum())

## 2. Eksik Veriden Kurtulma (Silme)
# EÄŸer verin Ã§ok bÃ¼yÃ¼kse ve birkaÃ§ boÅŸ satÄ±r senin iÃ§in Ã¶nemli deÄŸilse, o satÄ±rlarÄ± komple silebilirsin:

# En az bir tane boÅŸ hÃ¼cresi olan tÃ¼m satÄ±rlarÄ± sil
df_temiz = df.dropna()
# Sadece belirli bir sÃ¼tunda boÅŸluk varsa o satÄ±rÄ± sil
df.dropna(subset=['Puan'], inplace=True)

NameError: name 'df' is not defined

In [ ]:
## 3. BoÅŸluklarÄ± Doldurma (Tamamlama)
# Veri biliminde silmek her zaman iyi bir fikir deÄŸildir, Ã§Ã¼nkÃ¼ veri kÄ±ymetlidir.
# -Bunun yerine boÅŸluklarÄ± "mantÄ±klÄ±" deÄŸerlerle doldururuz:
# Sabit DeÄŸerle Doldurma: BoÅŸ olan yerlere "Bilinmiyor" veya 0 yazabilirsin.
# Ortalama ile Doldurma: BoÅŸ puanlarÄ±, sÄ±nÄ±fÄ±n puan ortalamasÄ±yla doldurmak Ã§ok yaygÄ±n bir tekniktir.
# BoÅŸ puanlarÄ± ortalama ile dolduralÄ±m
ortalama = df['Puan'].mean()
df['Puan'] = df['Puan'].fillna(ortalama)

# Ya da tÃ¼m boÅŸluklara "Veri Yok" yazalÄ±m
df_dolu = df.fillna("Veri Yok")

In [ ]:
# Senin Ä°Ã§in Bir "Veri Bilimci" Ä°pucu ðŸ’¡
# Bade'nin boyunu Ã¶lÃ§tÃ¼ÄŸÃ¼n bir tablo hazÄ±rladÄ±ÄŸÄ±nÄ± dÃ¼ÅŸÃ¼n. EÄŸer bir ayÄ± Ã¶lÃ§meyi unutursan, orayÄ± bir Ã¶nceki ayÄ±n boyuyla
# -doldurmak (buna Forward Fill denir) 0 yazmaktan Ã§ok daha mantÄ±klÄ±dÄ±r. Pandas bunu da otomatik yapar:
# Bir Ã¶nceki satÄ±rdaki deÄŸerle doldur (Zaman serilerinde hayat kurtarÄ±r!)
df['Boy'].fillna(method='ffill')

In [ ]:
## SonuÃ§
# BugÃ¼n Pandasta Ã¶ÄŸrendiklerim
# -Ä°lk satÄ±r 0 oluyor unutma
# -filtreleme ve veri eklemeyi Ã¶ÄŸrendim
# veri Ã§Ä±karma ve boÅŸ kÄ±sÄ±mlarÄ± doldurmayÄ± da Ã¶ÄŸrendim. (eh!)
# Zorlayan kÄ±sÄ±m:
# -notlarÄ±na bak :)
# Bir sonraki adÄ±m:
# "Eksik Verilerle (Missing Data) BaÅŸa Ã‡Ä±kma" yarÄ±na kalsÄ±n.

## Mini Pandas Zaferi
# BugÃ¼n sadece ÅŸunu yaptÄ±m:
# -dersleri defterime not ettim
# Bu bile Ã¶nemli Ã§Ã¼nkÃ¼:
# - Veriye temas ettim.

In [ ]:
# - Ã‡alÄ±ÅŸma logu
# -SÃ¼re: 60 dk + 60 dk
# -Tarih: 14.01.2026
# -Ruh hali: Yorgun ve EndiÅŸeli
# -1 kÃ¼Ã§Ã¼k zafer: 6 da derse baÅŸlama 2 oldu :))

In [ ]:
# gÃ¼n iÃ§inde tekrar baktÄ±m bunlarÄ± data queen defterime de geÃ§irmek lazÄ±m :)
# Babaanem daha iyi :)